body {
  /* background-image: url("man-wearing-white-shirt-brown-shorts-and-green-backpack-672358.jpg"); */
  background-image: url("woman-wearing-black-and-white-blouse-and-white-short-2106776.jpg");
  /* background-image: url("high-angle-photography-of-mountain-pathway-2082949.jpg"); */
  /* background-image: url("silhouette-of-person-walking-1046896.jpg"); */
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  /* background-image: url("white-airliner-wing-on-top-of-sea-clouds-2007401.jpg"); */
}

.trip-container {
  background-color: rgba(174, 203, 228, 0.64);
  color: white;
  max-width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* padding-left: 25%;
  padding-right: 25%; */
}

.rec-container {
  display: grid;
  /* margin-left: 25%;
  margin-right:25%; */

}

.rec-list-container {
    display: grid;
  /* margin-left: 25%;
  margin-right:25%; */
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.rec-card {
  display: grid;
  grid-template-columns: 9fr 1fr;
  /* padding: 5px; */
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.rec-content {
  display: grid;
}

.rec-title {
  font-weight: bold;
}

.rec-description {
  font-size: .75em;
}

.delete-btn {
  justify-self: end;
  align-self: center;
  color: red;
}

.rec-form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: .5em;

  margin: 25px;
}

label {
  justify-self: end;
}

.submit {
  grid-column: 2/3;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  /* margin: 3% 20% 0; */
  
}

.navlink {
  display: grid;
  /* padding: 12px; */
  /* margin: 20px; */
  /* background: white; */
  /* color: white; */
  text-decoration: none;
  border-right: 1px solid black;
  /* border-radius: 5px; */
}

.home {
  text-decoration: none;
  color: black;
}

.active-route {
  background: rgba(12, 34, 38, 0.31);
}

.header {
  /* background-image: url("assorted-map-pieces-2859169.jpg"); */
  /* height: 100px; */
  /* background-color: rgba(12, 34, 38, 0.31); */
  /* opacity: 0.5; */
  /* margin: 3% 5% 0; */
}

.trip-title-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  /* margin: 3% 20% 0; */
}

.trip-title {
  height: 100px;
  border: 1px solid black;
  /* background: white; */
  /* opacity: 0.5; */
  border-radius: 5px;
  

}