body {
  /* background-image: url("man-wearing-white-shirt-brown-shorts-and-green-backpack-672358.jpg"); */
  /* background-image: url("woman-wearing-black-and-white-blouse-and-white-short-2106776.jpg"); */
  /* background-image: url("high-angle-photography-of-mountain-pathway-2082949.jpg"); */
  background-image: url("silhouette-of-person-walking-1046896.jpg");
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  /* background-image: url("white-airliner-wing-on-top-of-sea-clouds-2007401.jpg"); */
}

.trip-container {
  background-color: rgba(11, 86, 100, 0.4);
  /* background-color: rgba(174, 203, 228, 0.64); */
  color: white;
  max-width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* padding-left: 25%;
  padding-right: 25%; */
  background-color: white;
}

.rec-container {
  display: grid;
  /* margin-left: 25%;
  margin-right:25%; */

}

.rec-list-container {
    display: grid;
  /* margin-left: 25%;
  margin-right:25%; */
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.rec-card {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  opacity: .7;
  color: black;
}

.rec-content {
  display: grid;
}

.rec-title {
  font-weight: bold;
}

.rec-description {
  font-size: .75em;
}

.delete-btn {
  justify-self: end;
  align-self: center;
  color: red;
}

.rec-form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: .3em;
  margin-bottom: 20px;
  opacity: .7;
}

.trip-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: .3em;
  padding: 20px;
  margin: 5px 40px 5px;
  /* width: 200px; */
  opacity: .7;
}

label {
  justify-self: end;
}

.submit {
  grid-column: 2/3;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  opacity: .6;
  background-color: white;
  text-decoration: none;
}

.navlink {
  display: grid;
  /* padding: 12px;
  margin: 20px; */
  /* background: white; */
  color: black;
  text-decoration: none;
  /* border-right: 1px solid black; */
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  /* border-radius: 5px; */
}

.home {
  text-decoration: none;
  color: black;
}

.active-route {
  background: rgba(12, 34, 38, 0.31);
}

.header {
  /* background-image: url("assorted-map-pieces-2859169.jpg"); */
  /* height: 100px; */
  /* background-color: rgba(12, 34, 38, 0.31); */
  /* opacity: 0.5; */
  /* margin: 3% 5% 0; */
}

h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 10px;
}

h4 {
  margin-top: 5px;
  font-style: italic;
}

.trip-title-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  padding: 5px;
  margin: 20px;
  align-items: stretch;
  
}

.trip-title {
  /* height: 100px; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  
  opacity: 0.6;
  /* border-radius: 5px; */
  
}

.trip-show {
  margin: 0 75px 0;
}

.trip-show-name {
  font-size: 2em;
  margin: 10px ;
}