.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
}

.rec-container {
  display: grid;
  margin-left: 25%;
  margin-right:25%;

}

.rec-list-container {
    display: grid;
  /* margin-left: 25%;
  margin-right:25%; */
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.rec-card {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.rec-content {
  display: grid;
}

.rec-title {
  font-weight: bold;
}

.rec-description {
  font-size: .75em;
}

.delete-btn {
  justify-self: end;
  align-self: center;
  color: red;
}

form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: .5em;

  margin: 25px;
}

label {
  justify-self: end;
}

.submit {
  grid-column: 2/3;
}